@page "/learnBlazor/bindprop"

<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />

        IsActive: <input type="checkbox" @bind="@product.IsActive" /> <br />
        Input Price: <input type="number" @bind="@product.Price" @bind:event="oninput" /> <br />
        <br />
        Product Properties:
        <select @bind="selectedProp">
            @foreach (var prop in product.ProductProperties!)
            {
                <option value="@prop.Key">@prop.Key</option>
            }
        </select>
    </div>
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>
        <hr />

        Name: @product.Name <br />
        IsActive: @product.IsActive <br />
        Price: @product.Price <br />
        This Product is: @(product.IsActive ? "Active" : "Inactive") <br />

        <br />
        Selected Prop: @selectedProp <br />
        Selected Value:
        @if (!string.IsNullOrEmpty(selectedProp))
        {
            @product.ProductProperties.FirstOrDefault(u => u.Key == selectedProp)!.Value
        }
    </div>
</div>

@code {
    private string selectedProp = "";

    Product product = new()
    {
        Id = 1,
        Name = "Product 1",
        Price = 5,
        IsActive = true,
        ProductProperties = new List<Product_Prop>()
        {
            new Product_Prop { Id = 1, Key = "Color", Value = "Red" },
            new Product_Prop { Id = 2, Key = "Size", Value = "20oz" },
            new Product_Prop { Id = 3, Key = "Flavor", Value = "Rose" }
        }
    };
}
